@import '~@angular/material/theming';


.date-picker{
    margin: 10px;
}

.hr-picker{
    float: left;
    display: inline-block;
    position: relative;
    text-align: left;
    margin: 5px;
}

.time{
    float: left;
    display: inline-block;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.pickers{
    float: left;
    display: inline-block;
}

.select-type{
    float: left;
    display: inline-block;
    margin: 10px;
}

.stat-table{
    width: 100%;
}

.buttons{
    color: mat-color($mat-grey, 600);
}

.pdf-graphs{
    visibility: hidden;

    top: 0;
    height: 100%;
    width: 100%;
}

div.footer {
    position: relative;
    height: 60px;
}

.mobile-footer{
    height: 140px;
}

div.footer div.buttons {
    position: absolute;
    top: 10px;
    left: 5px;
}



.main-container{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 10px
}

.moved-container {
    padding-top: 80px
}
