<common-sidenav #sidenav [navigationsModules]="navigationsModules" [navigationsApplication]="navigationsApplication" [navigationsPersonal]="navigationsPeronal"
    [translate]="translate" [user]="user" [isAdmin]="isAdmin" [profileName]="profileName" (logout)="logout()"
    (login)="login()" [showLogoutButt]='false'>
    <common-toolbar #toolbar [translate]="translate" [title]="settings.title" showMenuBtn="true"
        [navigationsModules]="navigationsModules" [navigationsApplication]="navigationsApplication" [isAdmin]="isAdmin"
        [profileName]="profileName" (sidenavBtnClick)="sidenav.open()" showLongToolbar="true"
        [heightOfAdditionalToolbar]="100" (login)="redirectLogin()" (detail)="detail()" (logout)="logout()" [showTitlebarContent]="isDesktop()">
        <div content>
            <button mat-fab class="white-logo" [disableRipple]="true"><i class="fas fa-bicycle"></i></button>
            <div class="title">BikeCounter</div>
        </div>
        <div title class='logo'><img src="../../assets/logo-white-blue.png" class='logo'></div>
    </common-toolbar>
    <div fxLayout="row" class="main-container">
        <div fxFlex="10" fxShow="false" fxShow.gt-sm></div>
        <div fxFlex.lt-md="100" fxFlex.gt-sm="80">

            <app-actual-situation></app-actual-situation>
        </div>
    </div>

</common-sidenav>
