<common-sidenav #sidenav [navigationsModules]="navigationsModules" [navigationsApplication]="navigationsApplication" [navigationsPersonal]="navigationsPeronal"
    [translate]="translate" [user]="user" [isAdmin]="isAdmin" [profileName]="profileName" (logout)="logout()"
    (login)="login()" [showLogoutButt]='false'>
    <common-toolbar #toolbar [translate]="translate" [title]="settings.title" showMenuBtn="true"
        [navigationsModules]="navigationsModules" [navigationsApplication]="navigationsApplication" [isAdmin]="isAdmin"
        [profileName]="profileName" (sidenavBtnClick)="sidenav.open()"
        [heightOfAdditionalToolbar]="100" (login)="redirectLogin()" (logout)="logout()"
        (addBtnClick)="showNewDialog()" [showTitlebarContent]="isDesktop()">
        <div title class='logo'><img src="../../assets/logo-white-blue.png" class='logo'></div>
    </common-toolbar>
    <div fxLayout="row" class="main-container">
        <div fxFlex="10" fxShow="false" fxShow.gt-sm></div>
        <div fxFlex.lt-md="100" fxFlex.gt-sm="80">

                <common-filter [dataSource]="bikes"></common-filter>
            <table mat-table #tableSensors [dataSource]="bikes" matSort multiTemplateDataRows>

                <ng-container matColumnDef="bikecounter">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "BIKECOUNTER.BIKECOUNTER" | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.desc}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="desc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "SENSORS.DESC" | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.desc}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="position_tz">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "SENSORS.POSITION_TZ" | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.position_tz}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="insert_timestamp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "SENSORS.INSERT_TIMESTAMP" | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{getDate(row.insert_timestamp)}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="update_timestamp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ "SENSORS.UPDATE_TIMESTAMP" | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{getDate(row.update_timestamp)}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="menu">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row" class="user-menu">
                        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #actionMenu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="openMap(row)">
                                <mat-icon>map</mat-icon>
                                <span>{{ 'SENSORS.POSITION_SENSOR' | translate }}...</span>
                            </button>
                            <button mat-menu-item (click)="showIniDialog(row)">
                                <mat-icon>insert_drive_file</mat-icon>
                                <span>{{ 'SENSORS.INI_FILE' | translate }}...</span>
                            </button>
                            <button mat-menu-item (click)="showEditDialog(row)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'APP.EDIT' | translate }}...</span>
                            </button>

                            <button mat-menu-item (click)="showDeleteDialog(row)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'APP.DELETE' | translate }}...</span>
                            </button>

                            <button mat-menu-item (click)="showDuplicateDialog(row)">
                                    <mat-icon>library_add</mat-icon>
                                    <span>{{ 'SENSORS.DUPLICATE' | translate }}...</span>
                                </button>

                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </table>

            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

</common-sidenav>
