@import '~@angular/material/theming';

.main-container{
    position: relative;
    height: 100%;
    width: 100%
}

.map-container {

}

.map-insert{
    width: 100%;
    height: 100%;
}

.loading-div {
    position: relative;
    top:50%;
    font-size: 24px;
    text-align: center;
    color: darken(grey, 20%);
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.loading-div span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading-div span:nth-child(2) {
    animation-delay: .2s;
}

.loading-div span:nth-child(3) {
    animation-delay: .4s;
}

.card-container {
    position: relative;
    text-align: center;
    top: -80px;
    z-index: 8;
}

.card {
    text-align: -webkit-center;
}

.card-content {
    height: 300px;
    text-align: center;
    width: 80%;
    margin-bottom: 20px
}

.label{
    float: left;
}

.forecast-list{
    margin-top: 20px;
    overflow-x: auto;
    display: flex;
}

.forecast{
    float: left;
    display: inline-block;
    width: 100px
}

.img-margin{
    margin-left: 20px;
    margin-right: 20px
}

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background:mat-color($mat-light-blue, 600);
}
