@import '~@angular/material/theming';

.rows mat-card {
    text-align: justify;
    margin: 10px 15px 15px 15px;
    cursor: pointer;
}

table {
    width: 100%;
}

td.pointer {
    cursor: pointer;
}

tr.detail-row {
    height: 0;
}

tr.row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.row:not(.example-expanded-row):active {
    background: #efefef;
}

.row td {
    border-bottom-width: 0;
}

.detail {
    overflow: hidden;
    display: flex;
    text-align: justify;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}

.period {
    margin: 10px;
    margin-left: 24px;
    margin-right: 24px;
    color: mat-color($mat-grey, 600);

}

.mat-column-id {
    width: 50px;
}

.mat-column-menu {
    width: 40px;
}

.user-menu {
    color: mat-color($mat-grey, 600);
}

.expand {
    width: 50px;
    color: mat-color($mat-grey, 600);
}

.row-info{

}

.vertical-buttons{
    margin: auto 0px auto auto;
}

.map-button{

    color: mat-color($mat-grey, 800);
}

.detail-table-row {
    border-bottom: 1px solid lightgray

}

table#detail-table{
    color: mat-color($mat-grey, 800);
    border-collapse: collapse;
    tr {
        height: 35px;
        th {
            padding-right: 15px;

        }
    }
}


.loading-card {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: unset
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.loading-div span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading-div span:nth-child(2) {
    animation-delay: .2s;
}

.loading-div span:nth-child(3) {
    animation-delay: .4s;
}
